<div id="user-show">
	<% if @items.any? %>
		<div id="todo">
			<ul id="todo-list">
				<%= render @items %>
			</ul>
		</div>
	<% else %>
		<h2>You really don't have anything to do?</h2>
		<p id="no-items">Try typing "Create my first BlocItOff item" in the text area below:</p>
	<% end %>

	<%= render 'items/form' %>
</div>

<!-- hidden modal -->
<%= render 'settings' %>