<div id="user-show">
	<% if @items.any? %>
		<div id="todo">
			<ul id="todo-list">
				<%= render @items %>
			</ul>
		</div>
	<% else %>
		<p id="no-items">You haven't created any to-do items yet. Try typing "Create my first BlocItOff item" in the text area below and click save:</p>
	<% end %>
</div>

<!-- hidden modal -->
<%= render 'settings' %>