<div id="hello">
  <h1><span class="b">BlocItOff</span></h1>
  <h2>a TODO list that always stays important</h2>
</div>

<div><p>Describing Blocitoff here</p></div>
<%= render 'sign_up' %>
<%= link_to_modal "Sign Up", "#sign_up", :class => "sign_up_btn" %>
<div><p>finally a footer down here</p></div>