/*
*= require normalize-rails
*= require jquery-ui
*= require jquery.modal
*= require_self
*= require_tree .
*/

body {
  color: #cdb380;
  background-color: #031634;
  padding: 10px;
}

.b {
  font-style: italic;
  letter-spacing: .3em;
}